In [368]:
import pandas as pd

In [369]:
#address the files
school_data="Resources/schools_complete.csv"
student_data="Resources/students_complete.csv"
#Read Files
school_data_df=pd.read_csv(school_data)
student_data_df=pd.read_csv(student_data)

In [370]:
student_data_df.head(5)

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69

In [371]:
school_data_df.head(5)

   School ID            school_name         type  size   budget
0          0      Huang High School   Government  2917  1910635
1          1   Figueroa High School   Government  2949  1884411
2          2    Shelton High School  Independent  1761  1056600
3          3  Hernandez High School   Government  4635  3022020
4          4    Griffin High School  Independent  1468   917500

In [398]:
#combine into the one dataset
school_data_complete_df=pd.merge(student_data_df , school_data_df , on="school_name", how="left")
school_data_complete_df.head(5)

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [399]:
school_data_complete_df.groupby(["school_name"])

In [400]:
school_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'year', 'school_name',
       'reading_score', 'maths_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [401]:
school_data_complete_df.dtypes

Student ID        int64
student_name     object
gender           object
year              int64
school_name      object
reading_score     int64
maths_score       int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [402]:
#LGA Summary

#total students
total_students=school_data_complete_df["student_name"].count()

#Total schools
total_schools=school_data_complete_df["school_name"].nunique()

#Total budget
total_budget=school_data_df["budget"].sum()

#Average maths score
average_maths_score=school_data_complete_df["maths_score"].sum()/total_students

#Average reading score
average_reading_score=school_data_complete_df["reading_score"].sum()/total_students

#Percentage passing math score
passing_maths_score_df=school_data_complete_df.loc[school_data_complete_df["maths_score"] >= 50]
percentage_passing_maths_score=len(passing_maths_score_df)/total_students * 100

#Percentage passing reading score
passing_reading_score_df=school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 50]
percentage_passing_reading_score=len(passing_reading_score_df)/total_students * 100

#Percentage overall passing score
overall_passing_score_df=school_data_complete_df.loc[(school_data_complete_df["maths_score"] >= 50)\
                                                      & (school_data_complete_df["reading_score"] >= 50)]
percentage_overall_passing=len(overall_passing_score_df)/total_students * 100

In [403]:
LGA_summary_df=pd.DataFrame({"Total Schools":[total_schools], 
                             "Total Students": total_students ,
                             "Total Budget": total_budget , 
                             "Average Maths Score": average_maths_score,
                             "Average Reading Score": average_reading_score , 
                             "% Passing Maths": percentage_passing_maths_score,
                             "% Passing Reading": percentage_passing_reading_score, 
                             "% Overall Passing": percentage_overall_passing })

#Format total budget to have a cleaner look                            
LGA_summary_df["Total Budget"]=LGA_summary_df["Total Budget"].map("${:,.2f}".format)
LGA_summary_df[["Total Schools",
      "Total Students",
      "Total Budget",
      "Average Maths Score",
      "Average Reading Score",
      "% Passing Maths",
      "% Passing Reading",
      "% Overall Passing"]]

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [404]:
#School Summary

In [428]:
#group our data frame by school name
school_group_df=school_data_complete_df.groupby(["school_name"])

#school type
school_type=school_group_df["type"].first()

#total students
total_student=school_group_df["Student ID"].count()

#total budget
total_budget=school_group_df["budget"].first()

#budget per student
budget_per_student= total_budget/total_student

#Average maths score
Avg_maths_score=school_group_df["maths_score"].mean()

#Average reading score
Avg_reading_score=school_group_df["reading_score"].mean()

#percentage passing math
passing_maths=school_data_complete_df[school_data_complete_df["maths_score"] >= 50].groupby(["school_name"])\
            ["maths_score"].count()
Percent_passing_maths = (passing_maths / total_student)*100

#Percentage reading pass
passing_reading=school_data_complete_df[school_data_complete_df["reading_score"] >= 50].groupby(["school_name"])\
            ["reading_score"].count()
Percent_passing_reading = (passing_reading / total_student)*100

#Percentage overal passing
overal_passing= school_data_complete_df[(school_data_complete_df["maths_score"] >= 50)\
                                                      & (school_data_complete_df["reading_score"] >= 50)]\
                                                        .groupby(["school_name"])["Student ID"].count()

percentage_overal_passing=(overal_passing/total_student)*100

In [466]:
# create a data frame to hold all those info
school_summary_df = pd.DataFrame({"School Type": school_type,
      "Total Students": total_student,
      "Total School Budget": total_budget,
      "Per Student Budget": budget_per_student,
      "Average Math Score": Avg_maths_score,
      "Average Reading Score": Avg_reading_score,
      "% Passing Math": Percent_passing_maths,
      "% Passing Reading": Percent_passing_reading,
      "% Overall Passing": percentage_overal_passing})

#Format "total school budget" and "per student budget" to have a cleaner look  

school_summary_df["Total School Budget"]=school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"]=school_summary_df["Per Student Budget"].map("${:,.2f}".format)
school_summary_df.index.name= None

school_summary_df[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing"]]

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

In [465]:
#Highest-Performing Schools (by % Overall Passing)
top_schools_df=school_summary_df.sort_values("% Overall Passing" , ascending=False)
top_schools_df.index.name= None
top_schools_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

In [464]:
#Lowest-Performing Schools (by % Overall Passing)
bottom_schools_df=school_summary_df.sort_values("% Overall Passing")
bottom_schools_df.index.name= None
bottom_schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

In [463]:
#Maths Scores by Year

#Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  #Create a pandas series for each year. Hint: use a conditional statement.
  
  #Group each series by school


avg_maths_9th=school_data_complete_df[school_data_complete_df["year"]== 9].groupby(["school_name"])\
            ["maths_score"].mean()
avg_maths_10th=school_data_complete_df[school_data_complete_df["year"]== 10].groupby(["school_name"])\
            ["maths_score"].mean()
avg_maths_11th=school_data_complete_df[school_data_complete_df["year"]== 11].groupby(["school_name"])\
            ["maths_score"].mean()
avg_maths_12th=school_data_complete_df[school_data_complete_df["year"]== 12].groupby(["school_name"])\
            ["maths_score"].mean()

 #Combine the series into a dataframe

Maths_scores_by_year=pd.DataFrame({"Year 9":avg_maths_9th,
                         "Year 10" : avg_maths_10th,
                         "Year 11" : avg_maths_11th,
                         "Year 12" : avg_maths_12th})
Maths_scores_by_year.index.name= None
Maths_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

In [467]:
#Reading Scores by Year


avg_reading_9th=school_data_complete_df[school_data_complete_df["year"]== 9].groupby(["school_name"])\
            ["reading_score"].mean()
avg_reading_10th=school_data_complete_df[school_data_complete_df["year"]== 10].groupby(["school_name"])\
            ["reading_score"].mean()
avg_reading_11th=school_data_complete_df[school_data_complete_df["year"]== 11].groupby(["school_name"])\
            ["reading_score"].mean()
avg_reading_12th=school_data_complete_df[school_data_complete_df["year"]== 12].groupby(["school_name"])\
            ["reading_score"].mean()

 #Combine the series into a dataframe

Reading_scores_by_year=pd.DataFrame({"Year 9":avg_reading_9th,
                         "Year 10" : avg_reading_10th,
                         "Year 11" : avg_reading_11th,
                         "Year 12" : avg_reading_12th})
Reading_scores_by_year.index.name= None
Reading_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

In [536]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). 
#Use 4 reasonable bins to group school spending. Include in the table each of the following:
  # Average Maths Score
  #Average Reading Score
  #% Passing Maths
  #% Passing Reading
  #Overall Passing Rate (Average of the above two)

spending_bins = [0, 585, 630, 645, 680]
List= ["<$585", "$585-630", "$630-645", "$645-680"]

scores_spending_df= school_summary_df.copy()
scores_spending_df.dtypes

School Type               object
Total Students             int64
Total School Budget       object
Per Student Budget       float64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [568]:
scores_spending_df["Spending Ranges (Per Student)"]=\
pd.cut(scores_spending_df["Per Student Budget"], spending_bins, labels=List)
spending_summary_df = grouped_scores_spending.mean()
spending_summary_df[["Average Math Score", "Average Reading Score" 
                     , "% Passing Math", "% Passing Reading", "% Overall Passing"]].round(decimals=2)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.36,70.72,88.84,86.39,76.72
$585-630,72.07,71.03,91.52,87.29,79.88
$630-645,69.85,69.84,84.69,83.76,71.00
$645-680,68.88,69.05,81.57,81.77,66.76

In [572]:
## Scores by School Size
size_bins = [0, 1000, 2000, 5000]
lists = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_summary_df["School Size"]=pd.cut(school_summary_df["Total Students"],size_bins, labels=lists)
grouped_school_summary_df=school_summary_df.groupby(["School Size"])
size_summary_df=grouped_school_summary_df.mean()
size_summary_df[["Average Math Score", "Average Reading Score" 
                     , "% Passing Math", "% Passing Reading", "% Overall Passing"]]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

In [571]:
##Scores by School Type
grouped_school_summary_df=school_summary_df.groupby(["School Type"])
type_summary_df=grouped_school_summary_df.mean()
type_summary_df[["Average Math Score", "Average Reading Score" 
                     , "% Passing Math", "% Passing Reading", "% Overall Passing"]]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340